USE [master]
GO

CREATE DATABASE [P0005]
GO
USE [P0005]
GO

CREATE TABLE [dbo].[ContactTBL](
	[name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[company] [nvarchar](50) NOT NULL,
	[message] [nvarchar](1000) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ContactTBL] ([name], [email], [phone], [company], [message]) VALUES (N'Toet', N'toet@gmail.com', N'0123456789', N'ToetzCompanie', N'Alo ahihi chich chich')
GO
CREATE TABLE [dbo].[CategoryTBL](
	[category] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CategoryTBL] PRIMARY KEY CLUSTERED 
(
	[category] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CategoryTBL] ([category]) VALUES (N'Academic')
INSERT [dbo].[CategoryTBL] ([category]) VALUES (N'Art')
INSERT [dbo].[CategoryTBL] ([category]) VALUES (N'Bobo putang inamo')

GO
CREATE TABLE [dbo].[ArticleTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[content] [nvarchar](4000) NOT NULL,
	[image] [nvarchar](100) NULL,
	[category] [nvarchar](50) NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK_ArticleTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ArticleTBL] ON
SET IDENTITY_INSERT [dbo].[ArticleTBL] OFF
