USE [master]
GO
/****** Object:  Database [Constructor]    Script Date: 5/2/2018 7:27:13 PM ******/
CREATE DATABASE [Constructor]
GO
CREATE TABLE [dbo].[Artical](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nchar](20) NULL,
	[Title] [nchar](50) NULL,
	[SortDescription] [nchar](1000) NULL,
	[LongDescription] [nchar](2000) NULL,
	[imglink] [nchar](50) NULL
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[Info](
	[address] [nchar](50) NULL,
	[city] [nchar](50) NULL,
	[country] [nchar](50) NULL,
	[tel] [nchar](20) NULL,
	[email] [nchar](50) NULL
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[Intros](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nchar](20) NULL,
	[Title] [nchar](50) NULL,
	[SortDescription] [nchar](1000) NULL,
	[LongDescription] [nchar](2000) NULL,
	[imglink] [nchar](50) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Artical] ON 

SET IDENTITY_INSERT [dbo].[Artical] OFF
INSERT [dbo].[Info] ([address], [city], [country], [tel], [email]) VALUES (N'                                                  ', NULL, NULL, N'123456              ', N' your-email@your-email.com                        ')
SET IDENTITY_INSERT [dbo].[Intros] ON 

SET IDENTITY_INSERT [dbo].[Intros] OFF
USE [master]
GO
