USE [master]
GO
/****** Object:  Database [MyBlog]    Script Date: 06/22/2018 17:14:28 ******/
CREATE DATABASE [MyBlog] ON  PRIMARY 
( NAME = N'MyBlog', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\MyBlog.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MyBlog_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\MyBlog_log.LDF' , SIZE = 512KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyBlog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyBlog]
GO
/****** Object:  Table [dbo].[contact]    Script Date: 06/22/2018 17:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[contact](
	[name] [varchar](3000) NULL,
	[email] [varchar](3000) NULL,
	[phone] [varchar](3000) NULL,
	[company] [varchar](3000) NULL,
	[sent_message] [varchar](3000) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[contact] ([name], [email], [phone], [company], [sent_message]) VALUES (N'vfvgdfxvdf', N'dung@gmail.com', N'1234', N'fsdfsdf', N'dfsfs')
/****** Object:  Table [dbo].[blog]    Script Date: 06/22/2018 17:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[blog](
	[id] [int] NULL,
	[category] [varchar](3000) NULL,
	[title] [varchar](3000) NULL,
	[brief] [varchar](3000) NULL,
	[dateceated] [date] NULL,
	[content] [varchar](3000) NULL,
	[img] [nvarchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
